@primary-color: #b0b536;
@soft-color: #c1cd7d;
@black-color: #323430;
@secondary-color: #db7070;

@text-template: #73879C;

.menu_section h3{
    color: @black-color;
    text-shadow: 0 0 0;
}
.profile{
    width: 100%;
//    clear: both;
    overflow: hidden;
    padding: 20px 0;
    margin: 20px 0;
    background: @soft-color;
    .profile_pic{
        img{
            margin-top: 0;
        }
    }
    .profile_info{
        padding: 0 10px;
        h2, span{
            color: @black-color;
        }
        h2{
            font-weight: bold;
        }
    }
}

.nav.side-menu>li.active>a{
    background: #c1cd7d;
}
.nav.side-menu>li>a, .nav.child_menu>li>a{
    color: @black-color;
    span{
        color: @black-color;
    }
}

.color-white{
    color: #FFF;
}
.color-orange{
    color: rgba(243,156,18,0.88) !important;
}
.color-blue{
    color: #5bc0de;
}
.color-red{
    color: @secondary-color;
}
.color-green{
    color: @primary-color !important;
}
.color-gray{
    color: @text-template;
}
.color-gray-2{
    color: @black-color;
}

.absolute-right{
    position: absolute;
    right: 20px;
    top: 15px;
}

.up-aux{
    margin: 5px 0 0;
}

.btn-electorum{
    color: #FFF;
    background: @primary-color;
    border-color: @primary-color;
    &:hover{
        color: #FFF;
        background: @soft-color;
        border-color: @soft-color;
    }
}

table.table{
    tbody{
        tr{
            td{
                vertical-align: middle;
                .progress{
                    margin: 0;
                }
                &:first-of-type{
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }
}

.table-done{
    td{
        &:first-of-type{
            border-left: 5px solid @primary-color !important;
        }
    }
}

.table-pause{
    td{
        &:first-of-type{
            border-left: 5px solid @black-color !important;
        }
    }
}

.nav.child_menu{
    display: block;
}
.menu_section{
    h3{
        a{
            color: @black-color;
        }
    }
}

.progress-bar-success{
    background: @primary-color;
}

.icon-spot{
    color: #FFF;
    float: right;
    width: 30px;
    height: 30px;
    padding: 2px 5px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    background: @primary-color;
}

.nav li li.current-page{
    background: transparent;
    a{
        color: #323430;
    }
}

.subtitle-data{
    text-align: left;
    margin-left: 20px;
    display: inline-block;
    .icon-spot{
        float: none;
        color: #FFF;
        padding: 5px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
    }
}

.x_title h2.small-title{
    float: none;
    width: auto;
    vertical-align: middle;
    display: inline-block;
}

.btn-inline{
    display: inline-block;
}

.circle-tooltip{
    width: 25px;
    height: 25px;
    margin-right: 4px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    &:last-of-type{
        margin-right: 0;
    }
}