@black-color: #323430;

.menu_section h3{
    color: @black-color;
    text-shadow: 0 0 0;
}
.profile_info{
    h2, span{
        color: @black-color;
    }
}
.nav.side-menu>li.active>a{
    background: #c1cd7d;
}
.nav.side-menu>li>a, .nav.child_menu>li>a{
    color: @black-color;
    span{
        color: @black-color;
    }
}