.menu_section h3 {
  color: #323430;
  text-shadow: 0 0 0;
}
.profile {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  margin: 20px 0;
  background: #c1cd7d;
}
.profile .profile_pic img {
  margin-top: 0;
}
.profile .profile_info {
  padding: 0 10px;
}
.profile .profile_info h2,
.profile .profile_info span {
  color: #323430;
}
.profile .profile_info h2 {
  font-weight: bold;
}
.nav.side-menu > li.active > a {
  background: #c1cd7d;
}
.nav.side-menu > li > a,
.nav.child_menu > li > a {
  color: #323430;
}
.nav.side-menu > li > a span,
.nav.child_menu > li > a span {
  color: #323430;
}
.color-white {
  color: #FFF;
}
.color-orange {
  color: rgba(243, 156, 18, 0.88);
}
.color-blue {
  color: #5bc0de;
}
.color-red {
  color: #db7070;
}
.absolute-right {
  position: absolute;
  right: 20px;
  top: 15px;
}
.btn-electorum {
  color: #FFF;
  background: #b0b536;
  border-color: #b0b536;
}
.btn-electorum:hover {
  color: #FFF;
  background: #c1cd7d;
  border-color: #c1cd7d;
}
table.table tbody tr td:first-of-type {
  text-align: center;
}
.table-sign td:first-of-type {
  border-left: 5px solid #db7070 !important;
}
.nav.child_menu {
  display: block;
}
.menu_section h3 a {
  color: #323430;
}
